<% provide(:title_end, 'Home') %>
<body>
	

    <!--%= render 'layouts/navbar' %-->

    <div class="container">
    	<div class="inner_area_1">

    	    <div class="masthead">
        		<ul class="nav nav-pills pull-right">
          			<li class="active"><a href="#">Home</a></li>
          			<li><a href="#">Samples</a></li>
          			<li><a href="#">Contact</a></li>
        		</ul>
        		<h3 class="logo">McBride Masonry</h3>
      		</div>

      		<div class="inner_area_2">

	      	 

	      		<div id="myCarousel" class="carousel slide">
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item">
				    	<%= image_tag src="neighbourhood_greyscale.png", alt: "" %>
				    </div>
				    <div class="item">
				    	<%= image_tag src="school_greyscale.png", alt: "" %>
				    </div>
				    <div class="item">
				    	<%= image_tag src="back_alley_artistic.png", alt:"" %>
				    </div>
				  </div>
				  <!-- Carousel nav -->
				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>

			 

	      	</div>
      	</div>

    </div> <!-- /container -->
</body>

