<% provide(:title_end, 'Home') %>


<div id="myCarousel" class="carousel slide" data-pause="hover">

  	<!-- Carousel items -->
	<div class="carousel-inner">
	<div class="active item">
		<%= image_tag src="row_homes_grayscale.png", alt: "" %>
	</div>
	<div class="item">
		<%= image_tag src="school_greyscale.png", alt: "" %>
	</div>
	<div class="item">
		<%= image_tag src="bricks_grayscale.png", alt:"" %>
	</div>
	</div>
	
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

</div>

<!-- -------------------------------------------------------------------------- -->

<!-- OTHER TEXT ON HOME PAGE -->
<div class="center-text">
	
	<h2> 
		Masonry | Concrete | Remodelling
	</h2>
		
	<h3>
		Serving the Greater Philadelphia area for 10 years <br/>
	</h3>
</div>		

<div class="center-text calling-card">
	<h3>
		Call us today - 215 555 5555
	</h3>
</div>		 


		      	
	      	

	    
	

