<% provide(:title_end, 'Services') %>

<div class="">
	<h1 class="center-text">
		With over 50 years combined staff experience, we will provide top quality service, competitive pricing and complete your project quickly
	</h1>

	<h1 class="center-text">
		 <small>PA License: 343W32</small>
	</h1>

	<h1 class="center-text">
		 <small>Insurance: HSBC# 34332324</small>
	</h1>
</div>

<div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
</div>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Concrete Work
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Brick Pointing
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
        Anim pariatur cliche...<br/>
      </div>
    </div>
	<div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
	        Basement Escavation
	      </a>
	    </div>
	    <div id="collapseThree" class="accordion-body collapse">
	      <div class="accordion-inner">
	        Anim pariatur cliche...
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	      </div>
    </div>
    <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
	        Remodeling
	      </a>
	    </div>
	    <div id="collapseFour" class="accordion-body collapse">
	      <div class="accordion-inner">
	        Anim pariatur cliche...
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	        Anim pariatur cliche...<br/>
	      </div>
    </div>

  </div>


  	<div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>

</div>