@import "bootstrap";
@import "bootstrap-responsive";

/* variables */

$grayMediumDark: #333333;
$grayShadow: #666666;
$grayHeader: rgb(114,117,116);
$blackShadow: rgba(0,0,0,0.8);
$grayLayerMedium: rgb(55,55,55);
$grayText: #d5d1d1;

/* logo */

.logo {
   color: $grayDarker;
   font-family: Verdana, Verdana, Geneva, sans-serif;
   text-shadow: $grayShadow 2px 2px;

   &:hover {
    color: $grayMediumDark;
  }

}

/* background image */
@media (min-width: 480px){

  body {
  	 
  	 margin: 7%;
  	 /*background: #bcc1c0;*/
  	 background-image: url("zenbg-stone.png");
      background-attachment: fixed;
  }
}

@media (max-width: 480px){
 
  body{
    //background: #bcc1c0;
     padding: 0%;
  } 

  .inner_area_1 {
    border: none;
    box-shadow: none;
  }

  h2 {
    font-size: 1em;
  }

  section h3 {
    font-size: 0.9em;
  }
}

/* inner area border */

.inner_area_1 {
   background: none repeat scroll 0px 0px $grayHeader;
   border: 1px solid $grayLayerMedium;
   box-shadow: 0px 0px 10px 0px $blackShadow;
}

.inner_area_2 {
   background: none repeat scroll 0px 0px $grayLayerMedium;

   /* TODO: removing this causes a light gray area near the bottom */
   /*border: 1px solid rgb(55,55,55);
   border-top: none;*/
}

/* carousel and inner picture styles */
.carousel {
   padding: 7%;
   padding-top: 5%;
   padding-bottom: 3%;
}

.carousel-inner {
   border: 2px solid black;
   box-shadow: 0px 0px 10px 0px $blackShadow;
}

/* nav-pills active state */
.navbar .nav-pills > .active > a,
.navbar .nav-pills > .active > a:hover {
  color: $white;
  background-color: $grayLayerMedium;
  border-radius: 2px;
}

/*nav-pills not selected */
.navbar .nav-pills > li > a {
   color: $grayDarker;
   border-radius: 2px;

   &:hover{
     background-color: $grayLight;
   }
}


/* text */
p {
   color: $white;
}

.center-text {
   text-align: center;
}

h2, h3, h4 {
   color: $grayText;
}

.calling-card {
   font-family: Arial, Arial, Helvetica, sans-serif;

   & > h3{
      text-shadow: $grayDarker 2px 2px;
   }
}