@import "bootstrap";
@import "bootstrap-responsive";

/* VARIABLES */
$grayMediumDark: #333333;
$grayShadow: #666666;
$grayHeader: rgb(114,117,116);
$blackShadow: rgba(0,0,0,0.8);
$grayLayerMedium: rgb(55,55,55);
$grayText: #d5d1d1;


/* LOGO */
.logo {
   color: $grayDarker;
   font-family: Verdana, Verdana, Geneva, sans-serif;
   text-shadow: $grayShadow 2px 2px;
   padding-left: 6px;
}


/* RESPONSIVE WEB */

/* TABLETS AND DESKTOP */
@media (min-width: 480px){

  body {
     
     margin: 5%;
     margin-top: 2.5%;
     margin-bottom: 2.5%;

     /*background: #bcc1c0;*/
     background-image: url("zenbg-stone.png");
      background-attachment: fixed;
  }
}

/* PHONES */
@media (max-width: 480px){
 
  body{
    /*background: #bcc1c0;*/
     padding: 0%;
  } 

  .inner_area_1 {
    border: 0px;
    box-shadow: 0px;
  }

  h2 {
    font-size: 1em;
  }

  section h3 {
    font-size: 0.9em;
  }

  footer p {
    font-size: 0.8em;
  }
}



/* INNER AREA 1 - LIGHT GRAY */
.inner_area_1 {
   background: none repeat scroll 0px 0px $grayHeader;
   border: 1px solid $grayLayerMedium;
   box-shadow: 0px 0px 10px 0px $blackShadow; 
}

/* INNER AREA 2 - DARK GRAY */
.inner_area_2 {
   background: none repeat scroll 0px 0px $grayLayerMedium;
}

/* CAROUSEL AND IT'S PICTURES */
.carousel {
   padding: 7%;
   padding-top: 5%;
   padding-bottom: 3%;
}

.carousel-inner {
   border: 2px solid black;
   box-shadow: 0px 0px 10px 0px $blackShadow;
}

/* HEADER */

/* HEADER nav-pills active state */
.navbar .nav-pills > .active > a,
.navbar .nav-pills > .active > a:hover {
  color: $white;
  background-color: $grayLayerMedium;
  border-radius: 2px;
}

/* HEADER nav-pills not selected */
.navbar .nav-pills > li > a {
   color: $grayDarker;
   border-radius: 2px;

   &:hover{
     background-color: $grayLight;
   }
}

.navbar {
  margin-bottom: 0px;

  h3 {
    margin: 5px 0px;
  }
}

/* TEXT */
p {
   color: $white;
}

.center-text {
   text-align: center;
}

h2, h3, h4 {
   color: $grayText;
}

/* TELEPHONE LINE */
.calling-card {
   font-family: Arial, Arial, Helvetica, sans-serif;

   & > h3{
      text-shadow: $grayDarker 2px 2px;
      margin-bottom: 0px;     
   }
}



/* FOOTER */

footer {
  margin-top: 10px;
  padding-top: 0%;
  margin-bottom: 50px;
  margin-left: 7px;
  margin-right: 10px%;
  
  /*color: $grayLight; */
  
  p {
    color: $grayDarker;
    float: left;
    margin-bottom: 0%;
    padding-top: 0.5%;
  }

  a {
    color: $grayMediumDark;

    &:hover {
      color: $white;
    }
  }

  ul {
    float: right;
    list-style: none;
    
    margin-left: 0%;
    margin-bottom: 0%;

    li {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 10px;
    }
  }
}

/**** SERVICES PAGE *****/

.accordion-inner {
  color: $white;
}

