<footer >										
	<p>Built by <%= link_to 'Rails Fever','http://www.railsfever.com' %></p>
	<ul>
		<li> <%= image_tag src="g-plus-icon-32x32.png", alt: "",
				height: "32", width: "32" %>
		</li>
		<li>
			<%= image_tag src="twitter-bird.png", alt: "", 
			   height: "32", width: "32" %>
		</li>
		<li>
			<%= image_tag src="facebook-logo.png", alt: "" , 
			   height: "32", width: "32" %>
		</li>
	</ul>
</footer>