<header>
	<div class="navbar navbar-inverse">
    	
    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
		</a>
		
		<ul class="nav nav-pills pull-right nav-collapse collapse">
  			<li class="active"><%= link_to "Home", root_path %></li>
  			<li><%= link_to "Services", services_path %> </li>
  			<li><%= link_to "Samples", samples_path %></li>
  			<li><%= link_to "Contact Us", contact_path %></li>
		</ul>

		<h3 class="logo">McBride Masonry</h3>

		
	</div>
</header>